@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

</hgroup>


<article>
    <p>
        This is a Online Store and you can Order what you want here.
    </p>

    <p>
        This Online Store is produced by Baker Point.
    </p>

    <p>
        If you have any doubts,you can contact us.
    </p>
</article>

